node_modules
angular-src/node_modules
.vscode
mongodbInsertScript/placeShipMethodExcelFileHere/*
!mongodbInsertScript/placeShipMethodExcelFileHere/info.txt
!mongodbInsertScript/placeShipMethodExcelFileHere/z_sampleShipMethod.xlsx
mongodbInsertScript/placeWholesaleExcelFileHere/*
!mongodbInsertScript/placeWholesaleExcelFileHere/info.txt
!mongodbInsertScript/placeWholesaleExcelFileHere/z_sampleExcelForScript.xlsx
angular-src/src/assets/imgs/product_imgs
mongodbInsertScript/__pycache__