node_modules
angular-src/node_modules
.vscode
mongodbInsertScript/placeWholesaleExcelFileHere/*
!mongodbInsertScript/placeWholesaleExcelFileHere/info.txt
mongodbInsertScript/placeShipMethodExcelFileHere/*
!mongodbInsertScript/placeShipMethodExcelFileHere/info.txt
mongodbInsertScript/outputCsvs