<form *ngIf="fees" #feesForm="ngForm" class="entire-form m-4" ngNativeValidate (ngSubmit)="onSubmit(feesForm)">
  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
        <mat-form-field fxFlex>
          <input [(ngModel)]='fees.ebayPercentageFromSaleFee' name="ebayPercentageFromSaleFee"
            placeholder="eBay Fee Percentage" matInput type="number" step="any" min="0" required>
        </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='fees.paypalPercentageFromSaleFee' name="paypalPercentageFromSaleFee"
          placeholder="Paypal Fee Percentage" matInput type="number" step="any" min="0" required>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='fees.paypalFlatFee' name="paypalFlatFee" matInput
          placeholder="Paypal Flat Fee" type="number" step="any" min="0" required>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
    </div>
  </div>
  
  <button mat-raised-button color="primary"
    type="submit" class="btn-block btn-submit">Update
  </button>
</form>