<progress-spinner *ngIf="!dataSource" [msg]="loadingMsg"></progress-spinner>

<div *ngIf="dataSource">
  <div class="d-flex justify-content-between mt-3">
    <button type="button" mat-raised-button color="warn"
      [disabled]="selection.selected.length == 0" (click)="openDeleteConfirmDialog()">Delete
    </button>
  
    <input [(ngModel)]="filterValue" class="form-control mb-3 border border-primary filter"
      placeholder="Filter" (keyup)="applyFilter($event.target.value)">
    
    <button type="button" mat-raised-button color="warn"
      [disabled]="deletedGroupsStack.isEmpty()" (click)="undoDelete()">Undo Delete
    </button>
  </div>
  
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- checkbox column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i=index;">
        <mat-checkbox #chkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- name column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let element"><a routerLink='/products/update/{{element.UPC}}'>{{element.name}}</a></td>
    </ng-container>
  
    <!-- stockNo column -->
    <ng-container matColumnDef="stockNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock No.</th>
      <td mat-cell *matCellDef="let element">{{element.stockNo}}</td>
    </ng-container>
  
    <!-- costPerBox column -->
    <ng-container matColumnDef="costPerBox">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost/Box</th>
      <td mat-cell *matCellDef="let element">${{element.costPerBox | number : '1.2-2'}}</td>
    </ng-container>
  
    <!-- quantityPerBox column -->
    <ng-container matColumnDef="quantityPerBox">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Quantity/Box</th>
      <td mat-cell *matCellDef="let element">{{element.quantityPerBox}}</td>
    </ng-container>
  
    <!-- costPerSingle column -->
    <ng-container matColumnDef="costPerSingle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>costPerSingle</th>
      <td mat-cell *matCellDef="let element">${{element.costPerBox/element.quantityPerBox | number : '1.2-2'}}</td>
    </ng-container>
  
    <!-- ASINS column -->
    <ng-container matColumnDef="ASINS">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ASINS</th>
      <td mat-cell *matCellDef="let element">{{element.ASINS}}</td>
    </ng-container>
  
    <!-- UPC column -->
    <ng-container matColumnDef="UPC">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>UPC</th>
      <td mat-cell *matCellDef="let element"> {{element.UPC}} </td>
    </ng-container>
  
    <!-- wholesaleComp column -->
    <ng-container matColumnDef="wholesaleComp">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Wholesale Comp.</th>
      <td mat-cell *matCellDef="let element"> {{element.wholesaleComp}} </td>
    </ng-container>
  
    <ng-container matColumnDef="packsInfo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Packs Info</th>
      <td mat-cell *matCellDef="let element">
          <ng-template #popContent>
            <div class="popTable">
              <table class="table table-striped table-primary">
                <thead>
                  <tr>
                    <th scope="col">ASIN</th>
                    <th scope="col">Pack Amt</th>
                    <th scope="col">Ship</th>
                    <th scope="col">Oz</th>
                    <th scope="col">Packaging</th>
                    <th scope="col">Preparation</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entry of element.packsInfo">
                    <td>{{entry.ASIN}}</td>
                    <td>{{entry.packAmt}}</td>
                    <td>{{dictShipIdToName[entry.shipMethodId]}}</td>
                    <td>{{entry.ozWeight}}</td>
                    <td>{{entry.packaging}}</td>
                    <td>{{entry.preparation}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
            
          <button class="btn btn-secondary btn-sm" type="button" [autoClose]="'outside'"
            popoverTitle="{{element.name}}" [ngbPopover]="popContent" popoverClass="packinfo"
            placement="left">Pack Info</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-row"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

