table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.filter{
  width:50%;
}

.header-row{
  background-color: #d9e5ff;
}

.ship-img-container{
    width: 200px;
    background-color: white;
    margin: 10px 0px;
}

.ship-img{
    max-width:190px;
    max-height:90px;
}