table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.asin-table{
  border: 3px solid black;
}
.filter{
  width:50%;
}

.products-table-container{
  height: 500px;
  overflow: auto;
}