/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* === Start Angular material icon css === */
/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v39/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

/* css for making angular material icons grey*/
.grey-icon {
    color: grey;
}
/* === End Angular material icon css === */

.entire-form{
    margin:10px;
    padding: 20px;
    border: 2px solid #e4e4e4;
    background-color: #d8e8ef;
}

.anchor-active{
    color:black;
    background-color:#e9e9e9;
}

.form-row-container >div{
    margin-top:10px;
    padding-right:20px;
}