<ngb-tabset>
  <ngb-tab *ngFor="let companyObj of shipCompanies; let companyIndex=index" title={{companyObj.name}}>
    <ng-template ngbTabContent>
      <button class="mt-3" mat-icon-button>
        <mat-icon color="primary">add_circle</mat-icon>
      </button>
      <div class="row-container p-3"
        *ngFor="let shipMethodObj of companyObj.shipMethods; let shipMethodIndex=index">
        <a routerLink="/shippings/update/{{shipMethodObj._id}}">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
        </a>
        <button class="method-btn" mat-raised-button color="primary">
          {{shipMethodObj.name}}</button>
        <mat-icon color="primary" matTooltip={{shipMethodObj.description}}
          matTooltipClass="tooltip-background" class="center-vertically ml-2">info</mat-icon>
        <table class="table oz-price-tbl table-striped table-light ml-2">
          <tbody>
            <tr class="oz-price-tbl-row" *ngFor="let ozPrice of shipMethodObj.ozPrice">
              <td>{{ozPrice.oz == -1 ? '(Any)':ozPrice.oz}}oz</td>
              <td>${{ozPrice.price}}</td>
            </tr>
          </tbody>
        </table>
        <button mat-icon-button
          (click)="openDeleteConfirmDialog(companyIndex, shipMethodIndex)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>