.ship-method-container{
    width:300px;
}

.oz-price-tbl-row{
    line-height: 0px
}

.price{
    font-size: 0.8em;
    background-color:white;
    width:120px;
    border: 1px solid grey;
    display:inline-block;
    max-height:100px;
    margin-bottom: 0px;
}

.price-tbl{
    overflow-y: scroll;    /* Trigger vertical scroll    */
    overflow-x: hidden;  /* Hide the horizontal scroll */
}

.row-container{
  border-top: thin black solid;
  background-color:#daf7ff;
  max-height: 120px;
  vertical-align: middle;
  display: inline-block;
  align-items:center;
  justify-content:center;
  display:flex;
}

.edit-icon{
    color:white;
    margin-right: 5px;
}

.ship-img-container{
    border: 1px solid grey;
    width: 200px;
    background-color: white;
}

.ship-img-container{
    cursor: zoom-in;
}

.zoom{
    transform: scale(5);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    z-index:1;
}

.zoom:hover{
    cursor: zoom-out;
}

.ship-img{
    max-width:190px;
    max-height:90px;
}
