
<!-- Note: 
  profitStatus uses const value 0-5:
  outOfStock: 0,                incalculable: 1,
  tooMuchProfit: 2,             desiredPriceRange: 3,
  onlyAboveProfitPerSingle: 4,  belowProfitPerSingle: 5
-->

<div class="d-flex justify-content-between align-items-center px-3">
  <div>
    <div class="mb-2">
      <mat-icon color="primary" matTooltip="Non-variation listings are assumed to be '1 pack'.
      Any non-variation listing that is not a '1 pack' will have an incorrect 'profit' and 'desired profit' calculations."
        matTooltipClass="tooltip-background" class="center-vertically">info
      </mat-icon>
      <span class="align-middle">Non-variation listings</span>
    </div>
    <div class="mb-2">
      <mat-icon color="primary" matTooltip="* on the very left of a listing's 'List Title' means Buyer pays for shipping.
        'Profit' and 'desired price' are handled appropriately for both 'Free shipping' and 'Non free shipping'
        "
        matTooltipClass="tooltip-background" class="center-vertically">info
      </mat-icon>
      <span class="align-middle">List Title</span>
    </div>
    <div class="mb-2">
      <mat-icon color="primary" matTooltip="White: Listing has at least one variation that is 'Out Of Stock' 
        Purple: Listing's calculation was not possible due to incomplete database.
        Orange: Atleast one variation has eBay price above desiredPriceRange.
        Green: All ebayPrice are in desired price range.
        Yellow: All ebayPrice >= desiredPricePerSingle.
        Red: Atleast one variation has eBay price below desiredPricePerSingle.
        
        Color's precedence is as follows:
        White > Purple > Red > Orange > Yellow > Green

        As an example, suppose variation1 is purple and variation2 is white. This means the row's color will be white. 
        "
        matTooltipClass="tooltip-background" class="center-vertically">info
      </mat-icon>
      <span class="align-middle">Color Scheme</span>
    </div>
  </div>
  
  <input *ngIf="!isLoading" class="form-control border border-primary filter"
    placeholder="Filter" (keyup)="applyFilter($event.target.value)">
  
  <form *ngIf="!isLoading" class="entire-form mb-2 p-1" ngNativeValidate>
    <mat-form-field>
      <input class="" [(ngModel)]='desiredProfitPerSingle' (ngModelChange)="onDesiredProfitChange()" matInput
        placeholder="Desired profit/pack" [ngModelOptions]="{standalone: true}"
        type="number" min="0" step="any" required>
      <span matPrefix>$&nbsp;</span>
    </mat-form-field>
  </form>
</div>

<section class="mt-2 ml-3">
  <mat-checkbox class="mr-5" [(ngModel)]="chkOutOfStock">Out of Stock</mat-checkbox>
  <mat-checkbox class="mr-5" [(ngModel)]="chkIncalculable">Incalculable</mat-checkbox>
  <mat-checkbox class="mr-5" [(ngModel)]="chkTooMuchProfit">High Price</mat-checkbox>
  <mat-checkbox class="mr-5" [(ngModel)]="chkDesiredPriceRange">Desired Price</mat-checkbox>
  <mat-checkbox class="mr-5" [(ngModel)]="chkOnlyAboveProfitPerSingle">DesiredProfit > Profit > DesiredProfit/Single</mat-checkbox>
  <mat-checkbox class="mr-5" [(ngModel)]="chkBelowProfitPerSingle">Undesired Price</mat-checkbox>
</section>

<progress-spinner *ngIf="!dataSource && isLoading" [msg]="loadingMsg"></progress-spinner>

<div *ngIf="!isLoading">
  <div class="alert alert-danger" role="alert" *ngIf="errMsg">
    {{errMsg}}
  </div>

  <div *ngIf="!errMsg" class="scroll-tbl-container">
    <div *ngIf="dataSource" >
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 max-width mt-3">
        <!-- imgUrl column -->
        <ng-container matColumnDef="imgUrl">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Img</th>
          <td mat-cell *matCellDef="let element"><a href={{element.listUrl}} target="_blank"><img class="img-in-tbl text-center border border-secondary" src="{{element.imgUrl}}"></a></td>
        </ng-container>
    
        <!-- listTitle column -->
        <ng-container matColumnDef="listTitle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>List Title</th>
          <td mat-cell *matCellDef="let element">
            <a href={{element.listUrl}} target="_blank">{{element.isFreeShipping ? '  ' :'* '}}{{element.listTitle}}</a>
          </td>
        </ng-container>
      
        <!-- stockNo column -->
        <ng-container matColumnDef="stockNo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock No.</th>
          <td mat-cell *matCellDef="let element">{{element.stockNo}}</td>
        </ng-container>
      
        <!-- quantityPerBox column -->
        <ng-container matColumnDef="costPerSingle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost/Single</th>
          <td mat-cell *matCellDef="let element">{{element.costPerSingle | number : '1.2-2'}}</td>
        </ng-container>
      
        <!-- UPC column -->
        <ng-container matColumnDef="UPC">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>UPC</th>
          <td mat-cell *matCellDef="let element">{{element.UPC}}</td>
        </ng-container>
      
        <!-- wholesaleComp column -->
        <ng-container matColumnDef="wholesaleComp">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wholesale Comp.</th>
          <td mat-cell *matCellDef="let element">{{element.wholesaleComp}}</td>
        </ng-container>
      
        <ng-container matColumnDef="variations">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Variations</th>
          <td mat-cell *matCellDef="let element">
              <ng-template #popContent>
                <div class="popTable">
                  <table class="table table-striped table-primary">
                    <thead>
                      <tr>
                        <th scope="col">Pack Amt</th>
                        <th scope="col">Ship</th>
                        <th scope="col">Oz</th>
                        <th scope="col">Preparation</th>
                        <th scope="col">Desired Price</th>
                        <th scope="col">eBay Sell Price</th>
                        <th scope="col">Profit</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let entry of element.variation">
                        <td>{{entry.packAmt}}</td>
                        <td>{{ebayComponent.dictShipIdToName[entry.shipMethodId]}}</td>
                        <td>{{entry.ozWeight}}</td>
                        <td>{{entry.preparation}}</td>
                        <td>{{entry.desiredPrice}}</td>
                        <td>{{entry.ebaySellPrice}}</td>
                        <td [ngClass]="entry.profitStatus == 0 ? 'bg-white'
                          : entry.profitStatus == 1 ? 'bg-purple'
                          : entry.profitStatus == 2 ? 'bg-orange'
                          : entry.profitStatus == 3 ? 'bg-green'
                          : entry.profitStatus == 4 ? 'bg-yellow'
                          : 'bg-red'">{{entry.profit}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </ng-template>
                
              <button class="btn btn-secondary btn-sm" type="button" [autoClose]="'outside'"
                popoverTitle={{element.listTitle}} [ngbPopover]="popContent" popoverClass="packinfo"
                placement="left">Variations</button>
          </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="header-row"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"
        [ngClass]="row.profitStatus == 0 && chkOutOfStock ? 'bg-white'
                    : row.profitStatus == 1 && chkIncalculable ? 'bg-purple'
                    : row.profitStatus == 2 && chkTooMuchProfit ? 'bg-orange'
                    : row.profitStatus == 3 && chkDesiredPriceRange ? 'bg-green'
                    : row.profitStatus == 4 && chkOnlyAboveProfitPerSingle ? 'bg-yellow' 
                    : row.profitStatus == 5 && chkBelowProfitPerSingle ? 'bg-red' : 'd-none'"></tr>
      </table>
    </div>
  </div>
</div>
