<button type="button" mat-raised-button [disabled]="selection.selected.length == 0"
  (click)="removeSelectedRows()">Delete
</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- checkbox column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
        [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row; let i=index;">
      <mat-checkbox #chkbox (click)="$event.stopPropagation()"
        (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of headers" matColumnDef={{column.name}}>
    <th mat-header-cell *matHeaderCellDef>{{column.name}}</th>
    <td mat-cell *matCellDef="let element">
      <input [(ngModel)]="element[column.name]"
      ngModel [ngModelOptions]="{standalone: true}"
      (ngModelChange)="addBlankEntryIfNeeded()"
        [type]="column.type" [min]="column.min"
        [step]="column.step" [class]="column.class">
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="headerNamesWithSelect"></tr>
  <tr mat-row *matRowDef="let row; let i=index; let isEvenRow=even; columns: headerNamesWithSelect;"
    [class.even-row]="isEvenRow" [attr.data-row-num]="i">
  </tr>
</table>