table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.asin-table{
  border: 3px solid black;
}

.header-row{
  background-color: #d9e5ff;
}

.input-number{
  width: 7em;
}

select{
  width: 15em;
}