.fee-table{
    width:250px;
}

.text-bold{
    font-weight: bold;
}

.red-text{
    color:red;
}

.green-text{
    color:green;
}

.div-inline{
    display:inline;
}

.form-containers{
    padding: 20px;
    background-color: #e5f8ff;
    border: 1px solid grey;
}

.input-profit{
    width:200px;
}