.fee-table{
    width:250px;
}

.text-bold{
    font-weight: bold;
}

.red-text{
    color:red;
}

.green-text{
    color:green;
}

.div-inline{
    display:inline;
}

.input-profit{
    width:200px;
}