<mat-button-toggle-group value="calcProfit" #group="matButtonToggleGroup">
  <mat-button-toggle value="calcProfit">Calculate Profit</mat-button-toggle>
  <mat-button-toggle value="calcNeededSale">Calculate Needed Sales</mat-button-toggle>
</mat-button-toggle-group>

<div class="mx-4">
  <div class="m-3">
    <div class="d-flex justify-content-between text-bold">
      <div>eBay fee percentage = {{ebayPercentageFromSaleFee | number : '1.2-2'}}%</div>
      <div>Paypal fee percentage = {{paypalPercentageFromSaleFee | number : '1.2-2'}}%</div>
      <div>Paypal flat fee = ${{paypalFlatFee | number : '1.2-2'}}</div>
    </div>
  </div>

  <div class="form-row mt-5">
    <div class="form-group col-md-3 mr-5">
      <label for="saleValue">Sale value</label>
      <input type="number" step="any" class="form-control" id="saleValue"
        [(ngModel)]='saleValue' [disabled]="group.value!='calcProfit'"
        (input)="updateFees(); updateTotalOrSaleValue(group.value)">
    </div>
    <div class="form-group col-md-3 mr-5">
      <label for="productCost">Product cost</label>
      <input type="number" step="any" class="form-control" id="productCost"
        [(ngModel)]='productCost' (input)="updateTotalOrSaleValue(group.value)">
    </div>
    <div class="form-group col-md-3 mr-5">
      <label for="miscCost">Misc cost</label>
      <input type="number" step="any" class="form-control" id="miscCost"
        [(ngModel)]='miscCost' (input)="updateTotalOrSaleValue(group.value)">
    </div>
  </div>

  <div class="mt-2">
    <label class ="center_vertically red_text">Shipping Type:</label>
      <select class = "margin_left_short red_text"
              (change)="response_ship_change($event.target.value); response_update_calculations">
        <option *ngFor="let ship_option of ship_option_array">{{ship_option}}</option>
      </select>

      <div class="margin_left_long" *ngIf="show_first_class_shipping">
        <label class = "red_text">Weight (oz):</label>
        <select class = "red_text"
                (change)="response_first_class_weight($event.target.value); response_update_calculations()">
          <option *ngFor="let weight of oz_first_class_array"
                  [selected]="weight === first_class_weight">{{weight}}</option>
        </select>
    </div>
  </div>



  <div class="mt-5 div-right-align">
    <table class="table table-bordered fee-table">
      <tbody>
        <tr>
          <th scope="row">Sale Value</th>
          <td>{{saleValue | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">Product cost</th>
          <td>{{productCost | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">Misc cost</th>
          <td>{{miscCost | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">Shipping cost</th>
          <td>{{shippingCost | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">eBay fee</th>
          <td>{{totalEbayFee | number : '1.2-2'}}</td>
        </tr>
        <tr>
          <th scope="row">Paypal fee</th>
          <td>{{totalPaypalFee | number : '1.2-2'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="profit-container div-center-align">
    <label for="profit">Profit</label>
    <input type="number" step="any"
      class="form-control {{ totalProfit >= 1 ? 'green-text' : 'red-text'}}" id="profit"
      [(ngModel)]="totalProfit" [disabled]="group.value=='calcProfit'"
      type="number" step="any" (input)="updateTotalOrSaleValue(group.value)">
  </div>
</div>