
<form ngNativeValidate #updatePassForm="ngForm" (ngSubmit)="updatePass(updatePassForm)">
  <div class="container">
    <div>
      <div fxFlex="30%">
        <mat-form-field fxFlex>
        <input ngModel name="oldPassword" type="password"
            matInput placeholder="Old password" required>
        </mat-form-field>
      </div>
    </div>
    
    <div class="mt-2">
      <div fxFlex="30%">
        <mat-form-field fxFlex>
        <input ngModel name="newPassword" type="password"
            matInput placeholder="New password" required>
        </mat-form-field>
      </div>
      <div fxFlex="30%" class="ml-4">
        <mat-form-field fxFlex>
        <input ngModel name="confirmNewPassword" type="password"
            matInput placeholder="Confirm new password" required>
        </mat-form-field>
      </div>
    </div>
    
    <button mat-raised-button color="primary"
      type="submit" class="btn-block btn-submit mt-2">Update Password
    </button>
  </div>
</form>