<div *ngIf="oldProductUPC">
  <div class="alert alert-secondary" role="alert" style="text-align: center">
      Updating product of UPC: {{oldProductUPC}}
  </div>
</div>

<form *ngIf="displayRdy" #productForm="ngForm" class="entire-form" ngNativeValidate (ngSubmit)="onSubmit(productForm)">
  <div class="form-row-container"fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
        <mat-form-field fxFlex>
          <input [(ngModel)]='inputBrand' name="brand" matInput placeholder="Brand" required>
        </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputName' name="name" matInput placeholder="Product name" required>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputUPC' name="UPC" matInput placeholder="UPC" required>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%" >    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputCostPerBox' name="costPerBox" matInput placeholder="Cost/Box" type="number" min="0" required>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputQuantityPerBox' name="quantityPerBox" matInput placeholder="Quantity/Box" type="number" min="1" step="1" required>
        </mat-form-field>
    </div>
  </div>

  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%">    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputPurchasedLocation' name="purchasedLocation" matInput placeholder="Purchased Location">
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputStockNo' name="stockNo" matInput placeholder="Stock No.">
      </mat-form-field>
    </div>

    <div fxFlex="10%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputOz' name="oz" matInput placeholder="Weight (oz)" type="number" min="0">
      </mat-form-field>
    </div>
  </div>

  

  <table-dynamic-input *ngIf="entries" [headers]="headers" [entries]="entries"></table-dynamic-input>
  <button mat-raised-button color="primary"
    type="submit" class="btn-block btn-submit mt-2">Submit
  </button>
</form>