<div *ngIf="oldProductUPC">
  <div class="alert alert-secondary" role="alert" style="text-align: center">
      Updating product of UPC: {{oldProductUPC}}
  </div>
</div>

<form *ngIf="entries" #productForm="ngForm" class="entire-form m-4" ngNativeValidate (ngSubmit)="onSubmit(productForm)">
  <div class="form-row-container"fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputName' name="name" matInput placeholder="Product name" required>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputUPC' name="UPC" matInput placeholder="UPC" required>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%" >    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputCostPerBox' name="costPerBox" matInput placeholder="Cost/Box" type="number" min="0" step="any" required>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputQuantityPerBox' name="quantityPerBox" matInput placeholder="Quantity/Box" type="number" min="1" step="1" required>
        </mat-form-field>
    </div>
  </div>

  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%">    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputwholesaleComp' name="wholesaleComp" matInput placeholder="Wholesale Comp.">
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputStockNo' name="stockNo" matInput placeholder="Stock No.">
      </mat-form-field>
    </div>
  </div>

  <table-dynamic-input [headers]="headers" [entries]="entries" id="tbl-id"></table-dynamic-input>
  <button mat-raised-button color="primary"
    type="submit" class="btn-block btn-submit mt-2">Submit
  </button>
</form>