<form class="entire-form" ngNativeValidate #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <div class="container">
        <div fxFlex="100%">
            <mat-form-field fxFlex>
                <input ngModel name="email" matInput placeholder="Email" type="email" required>
            </mat-form-field>
        </div>
    </div>
    <div class="container">
        <div fxFlex="100%">
            <mat-form-field fxFlex>
            <input ngModel name="password" type="password"
                matInput placeholder="Password" required>
            </mat-form-field>
        </div>
    </div>
    <div class="container">
        <div fxFlex="100%">
            <mat-form-field fxFlex>
            <input ngModel name="confirm-password" type="password"
                matInput placeholder="Confirm Password" required>
            </mat-form-field>
        </div>
    </div>
    <button mat-raised-button color="primary"
        type="submit" class="btn-block btn-submit mt-2">Submit
    </button>
</form>