<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="!databaseUsersService.loggedIn()">
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let link of loginRightLinks" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink={{link.href}}>{{link.text}}</a>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-md navbar-dark bg-dark" *ngIf="databaseUsersService.loggedIn()">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
    <ul class="navbar-nav mr-auto">
      <li *ngFor="let link of loggedLeftLinks" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink={{link.href}}>{{link.text}}</a>
      </li>
    </ul>
  </div>
    
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let link of loggedRightLinks" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink={{link.href}}>{{link.text}}</a>
      </li>
      <li class="nav-item ">
        <button mat-icon-button class="grey-icon" [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let menuItemLink of menuItemLinks" mat-menu-item routerLink={{menuItemLink.href}} class="hover-highlight">
            <mat-icon>{{menuItemLink.icon}}</mat-icon>
            <span>{{menuItemLink.text}}</span>
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
</nav>