<form *ngIf="userId" class="entire-form m-4" ngNativeValidate (ngSubmit)="onUpdate()">
  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
        <mat-form-field fxFlex>
          <input [(ngModel)]='ebayComponent.ebayPercentageFromSaleFee' name="ebayPercentageFromSaleFee"
            placeholder="eBay Fee Percentage" matInput type="number" step="any" min="0" required>
        </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='ebayComponent.paypalPercentageFromSaleFee' name="paypalPercentageFromSaleFee"
          placeholder="Paypal Fee Percentage" matInput type="number" step="any" min="0" required>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='ebayComponent.paypalFlatFee' name="paypalFlatFee" matInput
          placeholder="Paypal Flat Fee" type="number" step="any" min="0" required>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="form-row-container" fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='ebayComponent.ebayUserName' name="ebayUserName"
          placeholder="ebay User Name" matInput>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='ebayComponent.ebayAppId' name="ebayAppId"
          placeholder="ebay AppId" matInput>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
        <mat-form-field fxFlex>
          <input [(ngModel)]='ebayComponent.ebayKey' name="ebayKey"
            placeholder="eBay Key" matInput>
        </mat-form-field>
    </div>

    
  </div>
  
  <button mat-raised-button color="primary"
    type="submit" class="btn-block btn-submit">Update
  </button>
</form>