<div *ngIf="oldProductUPC">
  <div class="alert alert-secondary" role="alert" style="text-align: center">
      Updating product of UPC: {{oldProductUPC}}
  </div>
</div>

<form *ngIf="!errorMsg && displayRdy" #productForm="ngForm" class="entire-form" ngNativeValidate (ngSubmit)="onSubmit(productForm)">
  <div class="container"fxLayoutWrap fxLayoutGap="0.5%">
    <div fxFlex="33%">
        <mat-form-field fxFlex>
          <input [(ngModel)]='inputBrand' name="brand" matInput placeholder="Brand" required>
        </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputName' name="name" matInput placeholder="Product name" required>
      </mat-form-field>
    </div>

    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputUPC' name="UPC" matInput placeholder="UPC" required>
        <span matPrefix>&nbsp;</span>
      </mat-form-field>
    </div>
  </div>

  <div class="container" fxLayoutWrap fxLayoutGap="0.5%" >    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputCostPerBox' name="costPerBox" matInput placeholder="Cost/Box" type="number" min="0" required>
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputQuantityPerBox' name="quantityPerBox" matInput placeholder="Quantity/Box" type="number" min="1" step="1" required>
        </mat-form-field>
    </div>
  </div>

  <div class="container" fxLayoutWrap fxLayoutGap="0.5%">    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputPurchasedLocation' name="purchasedLocation" matInput placeholder="Purchased Location">
      </mat-form-field>
    </div>
    
    <div fxFlex="33%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputStockNo' name="stockNo" matInput placeholder="Stock No.">
      </mat-form-field>
    </div>

    <div fxFlex="10%">
      <mat-form-field fxFlex>
        <input [(ngModel)]='inputOz' name="oz" matInput placeholder="Weight (oz)" type="number" min="0">
      </mat-form-field>
    </div>
  </div>

  

  <button type="button" mat-raised-button
    [disabled]="selection.selected.length == 0" (click)="removeSelectedRows()">Delete
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- checkbox column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row; let i=index;">
        <mat-checkbox #chkbox (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- ASIN column -->
    <ng-container matColumnDef="ASIN">
      <th mat-header-cell *matHeaderCellDef>ASIN</th>
      <td mat-cell *matCellDef="let entry">
        <input [(ngModel)]="entry.ASIN"
        ngModel [ngModelOptions]="{standalone: true}"
        (ngModelChange)="addBlankEntryIfNeeded()">
      </td>
    </ng-container>
  
    <!-- packAmt column -->
    <ng-container matColumnDef="packAmt">
      <th mat-header-cell *matHeaderCellDef>Pack Amount</th>
      <td mat-cell *matCellDef="let entry">
        <input [(ngModel)]="entry.packAmt"
        ngModel [ngModelOptions]="{standalone: true}"
        (ngModelChange)="addBlankEntryIfNeeded()" type="number" min="1" step="1">
      </td>
    </ng-container>

    <!-- preparation column -->
    <ng-container matColumnDef="preparation">
      <th mat-header-cell *matHeaderCellDef>Preparation</th>
      <td mat-cell *matCellDef="let entry">
        <input [(ngModel)]="entry.preparation"
        ngModel [ngModelOptions]="{standalone: true}"
        (ngModelChange)="addBlankEntryIfNeeded()">
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let isEvenRow=even; columns: displayedColumns;"
      [class.even-row]="isEvenRow">
    </tr>
  </table>
  <button mat-raised-button color="primary"
    type="submit" class="btn-block btn-submit">Submit
  </button>
</form>